<!DOCTYPE html>
<html lang="en-US">
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<!-- jQuery -->
	<script src="assets/jquery/3.1.1/jquery.min.js"></script>

	<!-- AngularJS -->
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
	
	<!-- ngAnimate -->
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-animate.min.js"></script>
	
	<!-- ngSanitize -->
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-sanitize.min.js"></script>

	<!-- Modernizr -->
	<script src="assets/Modernizr/2.8.3/modernizr.min.js"></script>

	<!-- flexibleArea.js -->
	<script src="assets/flexibleArea.js/jquery.flexibleArea.js"></script>

	<!-- Bootstrap -->
	<link rel="stylesheet" href="assets/bootstrap/3.3.7/css/bootstrap.min.css">
	<script src="assets/bootstrap/3.3.7/js/bootstrap.min.js"></script>

	<!-- CSS Masonry -->
	<link rel="stylesheet" href="assets/css-masonry/masonry.css">

	<!-- Fonts -->
	<link href="https://fonts.googleapis.com/css?family=Roboto+Slab" rel="stylesheet">



	<!-- Font Awesome -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

	<!-- Froala Editor styles -->
	<link rel="stylesheet" href="assets/froala/css/froala_editor.min.css" />
	<link rel="stylesheet" href="assets/froala/css/froala_style.min.css" />
	<link rel="stylesheet" href="assets/froala/css/themes/gray-modified.css" />

	<!-- Froala Editor Plugin styles -->
	<link rel="stylesheet" href="assets/froala/css/plugins/char_counter.css">
	<link rel="stylesheet" href="assets/froala/css/plugins/code_view.css">
	<link rel="stylesheet" href="assets/froala/css/plugins/colors.css">
	<link rel="stylesheet" href="assets/froala/css/plugins/emoticons.css">
	<link rel="stylesheet" href="assets/froala/css/plugins/file.css">
	<link rel="stylesheet" href="assets/froala/css/plugins/fullscreen.css">
	<link rel="stylesheet" href="assets/froala/css/plugins/image_manager.css">
	<link rel="stylesheet" href="assets/froala/css/plugins/image.css">
	<link rel="stylesheet" href="assets/froala/css/plugins/line_breaker.css">
	<link rel="stylesheet" href="assets/froala/css/plugins/table.css">
	<link rel="stylesheet" href="assets/froala/css/plugins/video.css">

	<!-- Froala Editor -->
	<script src="assets/froala/js/froala_editor.min.js"></script>

	<!-- Froala Editor Plugins -->
	<script src="assets/froala/js/plugins/align.min.js"></script>
	<script src="assets/froala/js/plugins/char_counter.min.js"></script>
	<script src="assets/froala/js/plugins/code_beautifier.min.js"></script>
	<script src="assets/froala/js/plugins/code_view.min.js"></script>
	<script src="assets/froala/js/plugins/colors.min.js"></script>
	<script src="assets/froala/js/plugins/emoticons.min.js"></script>
	<script src="assets/froala/js/plugins/entities.min.js"></script>
	<script src="assets/froala/js/plugins/file.min.js"></script>
	<script src="assets/froala/js/plugins/font_family.min.js"></script>
	<script src="assets/froala/js/plugins/font_size.min.js"></script>
	<script src="assets/froala/js/plugins/fullscreen.min.js"></script>
	<script src="assets/froala/js/plugins/image.min.js"></script>
	<script src="assets/froala/js/plugins/image_manager.min.js"></script>
	<script src="assets/froala/js/plugins/inline_style.min.js"></script>
	<script src="assets/froala/js/plugins/line_breaker.min.js"></script>
	<script src="assets/froala/js/plugins/link.min.js"></script>
	<script src="assets/froala/js/plugins/lists.min.js"></script>
	<script src="assets/froala/js/plugins/paragraph_format.min.js"></script>
	<script src="assets/froala/js/plugins/paragraph_style.min.js"></script>
	<script src="assets/froala/js/plugins/quote.min.js"></script>
	<script src="assets/froala/js/plugins/save.min.js"></script>
	<script src="assets/froala/js/plugins/table.min.js"></script>
	<script src="assets/froala/js/plugins/video.min.js"></script>

	<!-- Angular Floara -->
	<script src="assets/froala/angular-froala/angular-froala.js"></script>


	<!-- Custom CSS and JS -->
	<link rel="stylesheet" href="style.css">
	<link rel="stylesheet" href="note-style.css">
	<script src="notes-app.js"></script>
	<script src="script.js"></script>


</head>

<body ng-app="notesApp" ng-controller="notesController">

	<!-- Brand -->
	<div class="brand">
		<a href="">ng-notes</a>
	</div>
	<!-- /.Brand -->


	<!-- Search -->
	<div class="search">
		<span class="glyphicon glyphicon-search"></span>
		<input type="text" class="searchbox" placeholder="Search notes..." ng-model="searchString" autofocus />
	</div>
	<!-- /.Search -->


	<!-- Note-Tiles Container -->
	<div class="container notes-container">
		<div class="masonry">

			<div class="masonry-item note" ng-class="note.class" ng-repeat = "note in notes | searchFor:searchString">
				<!-- Note-Main (Has Content, Opens Corresponding Note-Modal) -->
				<div class="note-main" data-toggle="modal" data-target="#note-modal-{{$index}}">
					<h3 class="note-title">{{ note.title }}</h3>
					<p class="note-content" froala-view="note.content"></p>
				</div>
				<!-- Note-Opt (Has Note Options) -->
				<div class="note-opt">
					<button class="fa fa-copy" ng-click="copyNote($index)"></button>
					<button class="fa fa-pencil" data-toggle="modal" data-target="#note-modal-{{$index}}" ng-click="modalOpenEditMode($index)"></button>
					<button class="fa fa-trash-o" ng-click="removeNote($index)"></button>
				</div>	
			</div>
		
		</div>
	</div>
	<!-- /.Note-Tiles Container -->


	<!-- Note Modals -->
	<div class="modal fade fade-pop note-modal" ng-repeat = "note in notes | searchFor:searchString" id="note-modal-{{$index}}" role="dialog">
		<div class="modal-dialog">

		<!-- Modal Content -->
		<div class="modal-content" ng-class="note.class">

			<!-- Edit Note Form -->
			<form class="edit-note-form">	    	
				<button type="button" class="close"  data-dismiss="modal">&times;</button>
				<div class="modal-header">
					<div class="form-group">
						<label class="sr-only" for="title">Title: </label>
						<textarea class="form-control input-title" rows="1" placeholder="Title" ng-model="note.title" maxlength="{{titleMaxLength}}"></textarea>
					</div>
				</div>

				<div class="modal-body">
					<div class="form-group">
						<label class="sr-only" for="content">Content: </label>
					<!--	<textarea class="form-control input-content" rows="15" placeholder="Take a note..." ng-model="note.content"></textarea>		-->
						<textarea froala="froalaOptions" ng-model="note.content"></textarea>
					</div>
				</div>

				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
				</div>
			</form>
		
		</div>

		</div>

	</div>
	<!-- /.Note Modals -->


	<!-- Add New Note -->
	<!-- Button for addNoteModal -->
	<button title="Add new note" class="glyphicon glyphicon-plus add-btn" data-toggle="modal" data-target="#addNoteModal"></button>

	<!-- addNoteModal -->
	<div id="addNoteModal" class="modal fade add-note-modal" role="dialog">
		<div class="modal-dialog modal-lg">
			
			<!-- Modal Content-->
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal">&times;</button>
					<h4 class="modal-title">Add a new note</h4>
				</div>
				<div class="modal-body">
					
					<!-- Add Note Form -->
					<form class="add-note-form">
						<div class="form-group">
							<label class="sr-only" for="title">Title:</label>
							<input type="text" class="form-control" id="newtitle" placeholder="Title" ng-model="note.title" maxlength="{{titleMaxLength}}">
						</div>

						<div class="form-group">
							<label class="sr-only" for="content">Content:</label>
							<textarea class="form-control" rows="10" id="newcontent" placeholder="Content" ng-model="note.content"></textarea>
						</div>
						
						<button type="submit" id="submit-btn" class="btn btn-default" ng-click="addNote();">Add Note</button>
					</form>

				</div>
			</div>

		</div>
	</div>
	<!-- /.Add New Note -->

</body>
</html>