<!DOCTYPE html>
<html lang="en-US">
<head>

	<meta name="viewport" content="width=device-width, initial-scale=1">

	<!-- jQuery -->
	<script src="assets/jquery/3.1.1/jquery.min.js"></script>

	<!-- AngularJS -->
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.9/angular.min.js"></script>
<!--<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>-->
<!--<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.2/angular.js"></script>-->

	<!-- UI-Router -->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.2.8/angular-ui-router.min.js"></script>

	<!-- Angular Loading Bar -->
	<script src="https://chieffancypants.github.io/angular-loading-bar/src/loading-bar.js"></script>
	<link rel="stylesheet" href="https://chieffancypants.github.io/angular-loading-bar/src/loading-bar.css">

	<!-- Autosize -->
	<script src="assets/autosize/autosize.js"></script>

	<!-- TouchSwipe -->
	<script src="assets/touchswipe/jquery.touchSwipe.min.js"></script>

	<!-- Draggabilly -->
	<script src="assets/draggabilly/2.1.1/draggabilly.pkgd.min.js"></script>

	<!-- Packery -->
	<script src="assets/packery/2.1.1/packery.pkgd.min.js"></script>

	<!-- Bootstrap -->
	<link rel="stylesheet" href="assets/bootstrap/3.3.7/css/bootstrap.min.css">
	<script src="assets/bootstrap/3.3.7/js/bootstrap.min.js"></script>

	<!-- Fonts -->
	<link href="https://fonts.googleapis.com/css?family=Roboto:400,500|Roboto+Slab:300,400|Roboto+Condensed|Noto+Sans" rel="stylesheet">

	<!-- Font Awesome -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

	<!-- Froala Editor styles -->
	<link rel="stylesheet" href="assets/froala/css/froala_editor.min.css" />
	<link rel="stylesheet" href="assets/froala/css/froala_style.min.css" />
	<link rel="stylesheet" href="assets/froala/css/themes/gray-modified.css" />

	<!-- Froala Editor Plugin styles -->
<!--<link rel="stylesheet" href="assets/froala/css/plugins/char_counter.css">-->
	<link rel="stylesheet" href="assets/froala/css/plugins/code_view.css">
	<link rel="stylesheet" href="assets/froala/css/plugins/colors.css">
	<link rel="stylesheet" href="assets/froala/css/plugins/emoticons.css">
	<link rel="stylesheet" href="assets/froala/css/plugins/file.css">
<!--<link rel="stylesheet" href="assets/froala/css/plugins/fullscreen.css">-->
	<link rel="stylesheet" href="assets/froala/css/plugins/image_manager.css">
	<link rel="stylesheet" href="assets/froala/css/plugins/image.css">
	<link rel="stylesheet" href="assets/froala/css/plugins/line_breaker.css">
<!--<link rel="stylesheet" href="assets/froala/css/plugins/table.css">-->
<!--<link rel="stylesheet" href="assets/froala/css/plugins/video.css">-->

	<!-- Froala Editor -->
	<script src="assets/froala/js/froala_editor.min.js"></script>

	<!-- Froala Editor Plugins -->
	<script src="assets/froala/js/plugins/align.min.js"></script>
<!--<script src="assets/froala/js/plugins/char_counter.min.js"></script>-->
	<script src="assets/froala/js/plugins/code_beautifier.min.js"></script>
	<script src="assets/froala/js/plugins/code_view.min.js"></script>
	<script src="assets/froala/js/plugins/colors.min.js"></script>
	<script src="assets/froala/js/plugins/emoticons.min.js"></script>
	<script src="assets/froala/js/plugins/entities.min.js"></script>
	<script src="assets/froala/js/plugins/file.min.js"></script>
<!--<script src="assets/froala/js/plugins/font_family.min.js"></script>-->
<!--<script src="assets/froala/js/plugins/font_size.min.js"></script>-->
<!--<script src="assets/froala/js/plugins/fullscreen.min.js"></script>-->
	<script src="assets/froala/js/plugins/image.min.js"></script>
	<script src="assets/froala/js/plugins/image_manager.min.js"></script>
	<script src="assets/froala/js/plugins/inline_style.min.js"></script>
	<script src="assets/froala/js/plugins/line_breaker.min.js"></script>
	<script src="assets/froala/js/plugins/link.min.js"></script>
	<script src="assets/froala/js/plugins/lists.min.js"></script>
	<script src="assets/froala/js/plugins/paragraph_format.min.js"></script>
	<script src="assets/froala/js/plugins/paragraph_style.min.js"></script>
<!--<script src="assets/froala/js/plugins/quote.min.js"></script>-->
	<script src="assets/froala/js/plugins/save.min.js"></script>
<!--<script src="assets/froala/js/plugins/table.min.js"></script>-->
<!--<script src="assets/froala/js/plugins/video.min.js"></script>-->

	<!-- Angular Floara -->
	<script src="assets/froala/angular-froala/angular-froala.js"></script>

	<!-- Tooltipster -->
	<link rel="stylesheet" type="text/css" href="assets/tooltipster/css/tooltipster.bundle.min.css" />
	<link rel="stylesheet" type="text/css" href="assets/tooltipster/css/plugins/tooltipster/sideTip/themes/tooltipster-sideTip-borderless.min.css" />
	<script type="text/javascript" src="assets/tooltipster/js/tooltipster.bundle.min.js"></script>

	<!-- Custom CSS and JS -->
	<link rel="stylesheet" href="note-style.css">
	<link rel="stylesheet" href="style.css">
	<script src="notes-app.js"></script>
	<script src="script.js"></script>

</head>

<body id="mynotes" ng-app="notesApp" ng-controller="notesController">

	<!-- Swipe listener for small devices -->
	<div class="swipe-listener"></div>
	<!-- /.Swipe listener for small devices -->


	<!-- Header containing top bar and sidebar menu -->
	<header class="header">

		<a href="#menu-toggle" class="menu-toggle" id="menu-toggle">
			<span class="menu-toggle-icon"></span>
		</a>

		<!-- Brand -->
		<div class="brand">
			<a href="#"><span class="fa fa-paperclip"></span> ng-notes</a>
		</div>
		<!-- /.Brand -->

		<!-- Search bar -->
		<div class="search">
			<span class="search-icon glyphicon glyphicon-search"></span>
			<input type="text" placeholder="Search notes..." ng-model="searchString" />
		</div>
		<!-- /.Search bar -->

		<!-- Sidebar -->
		<div class="sidebar-container">
			<ul class="sidebar-nav">
				<li>
					<a ui-sref="state-notes" class="ripple" onclick="cfpLoadingBarElem.start();"><span class="side-icon icon-paperclip"></span> Notes</a>
				</li>
				<li>
					<a ui-sref="state-archive" class="ripple" onclick="cfpLoadingBarElem.start();"><span class="side-icon icon-archive"></span> Archive</a>
				</li>
				<li>
					<a ui-sref="state-trash" class="ripple" onclick="cfpLoadingBarElem.start();"><span class="side-icon icon-trash"></span> Trash</a>
				</li>
			</ul>

			<ul class="sidebar-nav">
				<!-- Labels -->
				<div class="list-header">
					<div class="list-title">Labels</div>
					<a class="list-edit-btn"><span class="ripple">EDIT</span></a>
				</div>

				<li class="" ng-repeat="label in labels">
					<a ui-sref="state-labels" class="ripple" ng-click="setSelectedLabels([label])"><span class="side-icon icon-tag"></span> <span ng-bind="label">Loading...</span></a>
				</li>
			</ul>

			<ul class="sidebar-nav">
				<li>
					<a href="#" class="ripple">Settings</a>
				</li>
				<li>
					<a href="#" class="ripple">About ng-notes</a>
				</li>
			</ul>
		</div>
		<!-- /.Sidebar -->

	</header>
	<!-- /.Header -->


	<!-- UI view (loads the content selected from the menu) -->
		<div ui-view id="ui-view">
		</div>
	<!-- /.UI view -->

	<!-- Loading message -->
	<div class="page-message page-loading">
		<span class="fa fa-paperclip page-message-icon"></span>
		<p class="page-message-text">Loading your notes...</p>
	</div>
	<!-- /.Loading message -->


	<!-- Add New Note -->
	<!-- Button for addNoteModal -->
	<div class="add-note-btn">
		<div title="Add a new note" class="opt-tooltip add-div"><button class="add-btn ripple-light" ng-click="createNote();">+</button></div>
<!--
		<div title="Add a new note" class="opt-tooltip add-div"><button class="add-btn ripple-light" data-toggle="modal" data-target="#addNoteModal">+</button></div>
-->
	</div>

	<!-- addNoteModal -->
	<div id="addNoteModal" class="modal fade add-note-modal" role="dialog">
		<div class="modal-dialog modal-lg">
			
			<!-- Modal Content-->
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal">&times;</button>
					<h4 class="modal-title">Add a new note</h4>
				</div>
				<div class="modal-body">
					
					<!-- Add Note Form -->
					<form class="add-note-form">
						<div class="form-group">
							<label class="sr-only" for="title">Title:</label>
							<input type="text" class="form-control" id="newtitle" placeholder="Title" ng-model="note.title" maxlength="{{titleMaxLength}}">
						</div>

						<div class="form-group">
							<label class="sr-only" for="content">Content:</label>
							<textarea class="form-control" rows="10" id="newcontent" placeholder="Content" ng-model="note.content"></textarea>
						</div>
						
						<button type="submit" id="submit-btn" class="btn btn-default" ng-click="addNote();">Add Note</button>
					</form>

				</div>
			</div>

		</div>
	</div>
	<!-- /.Add New Note -->

</body>
</html>