.color1 {
	background: #e2664d !important;
}

.color2 {
	background: #7acce0 !important;
}

.color3 {
	background: #caa04a !important;
}

.color4 {
	background: #f17827 !important;
}

.color5 {
	background: #d68686 !important;
}

.color6 {
	background: #ffb433 !important;
}

.color7 {
	background: #a186b6 !important;
}

.color8 {
	background: #fdfdfd !important;
}

.color9 {
	background: #a4bd5b !important;
}