.color1 {
	background: #f36a4e !important;
}

.color2 {
	background: #7acce0 !important;
}

.color3 {
	background: #d6aa50 !important;
}

.color4 {
	background: #f38337 !important;
}

.color5 {
/*	background: #d68686 !important;	*/
	background: #e29292 !important;
}

.color6 {
/*	background: #ffb433 !important;	*/
	background: #ffc13d !important;
}

.color7 {
	background: #ac8ec4 !important;
}

.color8 {
/*	background: #a4bd5b !important;	*/
	background: #abc955 !important;
}

.color9 {
	background: #fdfdfd !important;
}

.color10 {
	background: #b1b1b1 !important;
}