body {
	background-color: #fff;
	background: #f0f0f0;
	font-family: 'Roboto Slab', sans-serif;
}
  
::-webkit-scrollbar-track {
	background-color: rgba(255, 255, 255, 0.1);
}

::-webkit-scrollbar {
	width: 7px;
	background-color: rgba(255, 255, 255, 0.1);
}

::-webkit-scrollbar-thumb {
	background-color: rgba(0, 0, 0, 0.5);
}


.header {
	background: #dadada;
	padding: 20px 0;
	margin-bottom: 25px;
}

.brand {
	float: left;
	padding: 0;
}
.brand a {
	padding: 0;
	line-height: 120%;
	margin-left: 50px;	
	text-decoration: none;
	outline: 0;
	font-size: 2.5em;
	font-weight: 900;
	font-family: 'Nunito Sans', sans-serif;
	color: #111;
	transition: .25s ease;
	-webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
}
.brand a:hover {
	color: #db5353;
	color: #000;
	transition: 0.0s;
}

.search {
	position: relative;
	text-align: center;
	margin: 0 auto;
	width: 50%;
}

.search input {
	text-indent: 32px;
	font-size: 1.3em;
	background: #fff;
	width: 90%;
	margin: 0 auto;
	outline: 0;
	border: 1px solid #fdfdfd;
	border-radius: 1px;
	padding: 8px;
	box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.2), 0 1px 2px 0 rgba(0, 0, 0, 0.19);
}

.search input:hover, .search input:focus {
	box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);
}

.search .glyphicon-search { 
  left: 30px;
  top: -1px;
  color: #777;
}

.search input::-webkit-input-placeholder {
	font-weight: 300;
	color: #e2e2e2;
}

.search input::-moz-placeholder {
	font-weight: 300;
	color: #e2e2e2;
}

.search input::input-placeholder {
	font-weight: 300;
	color: #e2e2e2;
}


/* Brand and Search Responsive Styles */
@media screen and (max-width: 800px) {

	.brand {
		float: none;
		padding: 0;
		margin-top: 20px;
		text-align: left;
	}

	.search {
		text-align: left;
		margin: 20px 30px;
	}
}

@media screen and (max-width: 500px) {
	.search {
		width: 70%;
	}
}

.notes-container {
	padding-right: 20px;
}

@media screen and (max-width: 680px) {
	.notes-container {
		padding-left: 8px;
		padding-right: 8px;
	}
}

.masonry-item {
	background: #f9f9f9;
	border-radius: 0;
	word-wrap: break-word;
	padding: 0;
}


.note {
	border-radius: 2px;
	-webkit-box-shadow: none;
	box-shadow: none;
    transition: .3s !important;
}

/* Note tiles animations */
.note.ng-enter, 
.note.ng-leave {
	-webkit-transition: 0.5s linear all;
	transition: 0.5s linear all;
}

.note.ng-enter, 
.note.ng-leave.ng-leave-active {
	opacity: 0;
}

.note.ng-leave, 
.note.ng-enter.ng-enter-active {
	opacity: 1;
}


/* Note tile main */
.note .note-main {
    padding: 0.75em 1.5em 0.85em 1.5em;
}

/* Maintain images in note tiles */
.note img {
	display: block;
	max-width: 100%;
	height: auto !important;
	margin: 10px auto;
}

.note:hover {
	-webkit-box-shadow: rgba(0, 0, 0, .35) 0 4px 10px, 
						inset 1px 1px 0 rgba(0,0,0,.1), inset -1px -1px 0 rgba(0,0,0,.07);
	box-shadow: rgba(0, 0, 0, .35) 0 4px 10px, 
				inset 1px 1px 0 rgba(0,0,0,.1), inset -1px -1px 0 rgba(0,0,0,.07);
    transition: .3s !important;
}

.note-title {
	font-family: 'Roboto Condensed';
	font-size: 22px;
	font-weight: bold;
}

.note-content {
	white-space: pre;
	white-space: pre-wrap;
}

/* Note tile options */
.note-opt {
	font-size: 17px;
	padding: 0.1em 1.2em 0.75em;
	color: #222;
	overflow: auto;
	visibility: hidden;
	opacity: 0;
}

.note:hover .note-opt {
	visibility: visible;
	opacity: 1;
	transition: opacity .5s;
}

.note-opt::after { 	/* Clearfix */
	clear: both;
	content: " ";
	display: block;
	height: 0;
}


.note-opt > button {
	float: left;
	margin-right: 0.9em;
	padding: 0;
	background: transparent;
	border: 0;
	outline: 0;
}

.note-opt > button:hover {
	color: #111;
}

/* Don't show note options on mobile */
@media screen and (max-width: 680px) {
	.note-opt {
		display: none;
		display: inherit;
	}
}


/* Note mmodal */
.note-modal {
	word-wrap: break-word;
	overflow-y: scroll;
}

.note-modal button.close {
	margin-right: 7px;
}

.note-modal .modal-content {
	border-radius: 2px;
	border: 0;
}

.note-modal .modal-header, 
.note-modal .modal-footer {
	border: 0;
}

.note-modal .modal-header {
	background: rgba(0, 0, 0, 0.1);
	padding-left: 25px;
}

.note-modal img {
	display: block;
	max-width: 100%;
	margin: 10px auto;
}

.fade-pop {
  transform: scale(0);
  opacity: 0;
  -webkit-transition: all .25s linear;
  -o-transition: all .25s linear;
  transition: all .25s linear;
}

.fade-pop.in {
  opacity: 1;
  transform: scale(1);
}

.edit-note-form .form-group {
	margin-bottom: 0;
}

.edit-note-form .form-control {
	border-radius: 0;
	border: 0;
	outline: 0;
	resize: none;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
	color: inherit;
	background: transparent;
}

.edit-note-form .input-title {
	min-height: 50px;
	max-height: 150px;
	padding: 20px 0 7px;
	font-family: 'Roboto Condensed';
	font-size: 22px;
	font-weight: bold;
	color: #252525;
}

/*.edit-note-form .ta-scroll-window.form-control:hover {
	box-shadow: 0px 5px 15px -5px rgba(0,0,0,0.65);
}
*/




.edit-note-form .input-content {
	min-height: 200px;
	max-height: 300px;
	transition: .2s ease-in;
}

.edit-note-form .input-content:hover, 
.edit-note-form .input-content:focus {
/*	box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.2), 0 11px 10px 0 rgba(0, 0, 0, 0.19);	*/
	box-shadow: 0px 5px 15px -5px rgba(0,0,0,0.65);
}

.edit-note-form .input-content:focus {
	background: rgba(255, 255, 255, 0.4);
	transition: .3s ease-out;
}

.edit-note-form input::-webkit-input-placeholder, .edit-note-form textarea::-webkit-input-placeholder {
	font-weight: 300;
	color: #444;
}
.edit-note-form input::-moz-placeholder, .edit-note-form textarea::-moz-placeholder {
	font-weight: 300;
	color: #444;
}
.edit-note-form input::input-placeholder, .edit-note-form textarea::input-placeholder {
	font-weight: 300;
	color: #444;
}



.add-btn {
	display: block;
	height: 50px;
	width: 50px;
	padding: 10px;
	background: #dd3131;
	border: 0;
	border-radius: 100px;
	outline: 0;
	color: #fff;
	font-size: 1.75em;
	position: fixed;
    top: 90%;
    right: 10px;
	transition: 0.2s;
}

.add-btn:hover {
	background: #000;
	transition: 0.2s;
}

.add-note-modal .modal-content {
	border-radius: 0;
	padding: 20px;
}

.add-note-form .form-control {
	border-radius: 0;
	border: 0;
	outline: 0;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
	border-bottom: 2px solid #eee;
	background: transparent;
}

.add-note-form .form-control:hover, .add-note-form .form-control:focus {
	border-bottom: 2px solid #ccc;
}

.add-note-form .btn {
	border-radius: 0;
	outline: 0;
	background: #000;
	color: #fff;
}
