
<!-- Trash view -->

	<!-- Note tiles container -->
	<div class="container notes-container" ng-cloak>

		<!-- Note tile -->
		<div class="masonry-item note" ng-class="note.colorClass" 
		ng-repeat="note in filteredNotes = ((notes | ngRepeatFinish:this) | filter:{isTrashed:true} | searchFor:searchString)">

			<!-- Note-main (has note title and content, opens the corresponding note-view-modals) -->
			<div class="note-main" data-toggle="modal" data-target="#note-view-modal-{{$index}}">
				<h3 class="note-title">{{ note.title }}</h3>
				<p class="note-content" froala-view="note.content | noteTilePrettify"></p>
			</div>

			<!-- Note-labels (has note labels) -->
			<div class="note-labels">
				<ul>
					<li ng-repeat="label in note.labels" ui-sref="notes.state-labels" ng-click="setSelectedLabels([label])">
						{{label}}
					</li>
				</ul>
			</div>

			<!-- Note-opt (has note options) -->
			<div class="note-opt">
				<a class="opt-icon icon-dots menu-popup">
					<ul>
						<li ng-click="untrashNote(note)">Restore</li>
						<li ng-click="permanentlyRemoveNote(note)">Delete permanently</li>
					</ul>
				</a>
			</div>
		</div>
		<!-- /.Note tile -->

		<!-- Not found message -->
		<div class="container-message" ng-show="filteredNotes.length === 0">
			<span class="glyphicon glyphicon-trash container-message-icon"></span>
			<p class="container-message-text">No notes found here</p>
		</div>
		<!-- /.Not found message -->

	</div>
	<!-- /.Note tiles container -->


	<!-- Note edit modals -->
		<!-- Trashed notes can not be edited -->
	<!-- /.Note edit modals -->


	<!-- Note view modals -->
	<div class="modal fade-pop note-modal note-view-modal" 
	ng-repeat="note in notes | filter:{isTrashed:true} | searchFor:searchString" id="note-view-modal-{{$index}}" role="dialog" view-modals-loaded-directive>

		<div class="modal-dialog">

		<!-- Modal content -->
		<div class="modal-content" ng-class="note.colorClass">

			<!-- Modal header -->
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal">&times;</button>
				<h3 class="note-title">{{ note.title }}</h3>
			</div>

			<!-- Modal body -->
			<div class="modal-body">
				<p class="note-content" froala-view="note.content | noteModalPrettify"></p>
			</div>

			<!-- Modal footer -->
			<div class="modal-footer">
				<!-- Labels -->
				<div class="note-modal-labels">
					<ul>
						<li ng-repeat="label in note.labels">{{label}}</li>
					</ul>
				</div>

				<!-- Date -->
				<div class="note-modal-date">
					<span title="Created {{note.dateCreated}}" class="opt-tooltip date">{{ note.dateCreated }}</span>
				</div>

				<!-- Options -->
				<div class="note-modal-opt">
					<a title="Restore" class="opt-tooltip opt-icon-lg icon-restore" ng-click="untrashNoteViaModal(note, $index)" data-dismiss="modal"></a>

					<a title="Delete permanently" class="opt-tooltip opt-icon-lg icon-delete" ng-click="permanentlyRemoveNoteViaModal(note, $index)" data-dismiss="modal"></a>
				</div>
			</div>
		
		</div> <!-- /.Modal content -->

		</div>

	</div>
	<!-- /.Note view modals -->

<!-- /.Trash view -->
