
<!-- Swipe listener for small devices -->
<div class="swipe-listener"></div>
<!-- /.Swipe listener for small devices -->


<!-- Header containing top bar and sidebar menu -->
<header class="header">

	<a href="" class="menu-toggle" id="menu-toggle">
		<span class="menu-toggle-icon"></span>
	</a>

	<!-- Brand -->
	<div class="brand">
		<a ui-sref="notes.state-notes"><span class="fa fa-paperclip"></span> ng-notes</a>
	</div>
	<!-- /.Brand -->

	<!-- Current user -->
	<div class="current-user" ng-show="isLoggedIn">
		<span class="user-profile">
			<a ui-sref="notes.state-profile"><img class="user-avatar" title="{{currentUser.name}}" ng-src="{{currentUser.avatar}}" /></a>
			<a ui-sref="notes.state-profile"><span class="user-name" title="{{currentUser.name}}" ng-bind="currentUser.name | userNameFormat">Loading...</span></a>
		</span>
		<span class="user-logout">
			<a href="" ng-click="signout()">Log out</a>
		</span>
	</div>
	<!-- /.Current user -->

	<!-- Search bar -->
	<div class="search">
		<span class="search-icon glyphicon glyphicon-search"></span>
		<input type="text" placeholder="Search notes..." ng-model="searchString" />
	</div>
	<!-- /.Search bar -->

	<!-- Sidebar -->
	<div class="sidebar-container">
		<ul class="sidebar-nav">
			<li>
				<a ui-sref="notes.state-notes" class="ripple"><span class="side-icon icon-paperclip"></span> Notes</a>
			</li>
			<li>
				<a ui-sref="notes.state-archive" class="ripple"><span class="side-icon icon-archive"></span> Archive</a>
			</li>
			<li>
				<a ui-sref="notes.state-trash" class="ripple"><span class="side-icon icon-trash"></span> Trash</a>
			</li>
		</ul>

		<ul class="sidebar-nav">
			<!-- Labels -->
			<div class="list-header">
				<div class="list-title">Labels</div>
				<a class="list-edit-btn" data-toggle="modal" data-target="#labels-edit-modal">
					<span class="ripple">EDIT</span>
				</a>
			</div>

			<li ng-repeat="label in labels">
				<a ui-sref="notes.state-labels" class="ripple" ng-click="setSelectedLabels([label])"><span class="side-icon icon-tag"></span> <span ng-bind="label">Loading...</span></a>
			</li>
		</ul>

		<ul class="sidebar-nav">
		<!--<li>
				<a href="" class="ripple"><span class="side-icon icon-cog"></span> Settings</a>
			</li>
		-->
			<li>
				<a ui-sref="notes.state-profile" class="ripple"><span class="side-icon icon-user"></span> Your profile</a>
			</li>
			<li>
				<a href="" class="ripple" data-toggle="modal" data-target="#about-modal"><span class="side-icon icon-info"></span> About ng-notes</a>
			</li>
		<!--<li>
				<a href="https://github.com/anirudhkhanna/ng-notes" target="_blank" class="ripple"><span class="side-icon icon-github"></span> GitHub repo</a>
			</li>
			<li>
				<a href="" class="ripple" ng-click="logNotes()"><span class="side-icon icon-terminal"></span> Log notes</a>
			</li>
		-->
		</ul>
	</div>
	<!-- /.Sidebar -->

</header>
<!-- /.Header -->


<!-- UI view (loads the content selected from the menu) -->
	<div ui-view id="ui-view">
	</div>
<!-- /.UI view -->

<!-- Loading message -->
<div class="page-message page-loading hidden">
	<span class="fa fa-paperclip page-message-icon"></span>
	<p class="page-message-text">Loading your notes...</p>
</div>
<!-- /.Loading message -->


<!-- Add new note -->
<!-- Button for creating a new note and opening its modal -->
<div class="add-note-btn">
	<div title="Add a new note" class="opt-tooltip add-div"><button class="add-btn ripple-light" ng-click="createNote();">+</button></div>
</div>
<!-- /.Add new note -->


<!-- Edit all labels -->
<!-- Labels edit modal -->
<div class="modal fade-pop" id="labels-edit-modal">

	<div class="modal-dialog">

	<!-- Modal content -->
	<div class="modal-content">
		<!-- Modal header -->
		<div class="modal-header">
			<button type="button" class="close" data-dismiss="modal">&times;</button>
			<h3 class="modal-header-title">Edit labels</h3>
		</div>

		<!-- Modal body -->
		<div class="modal-body">
			<form id="add-label-form" ng-submit="addLabel(newLabel)">
				<span>+</span> <input type="text" placeholder="Create new label" ng-model="newLabel" maxlength="{{labelMaxLength}}" />
			</form>

			<ul>
				<li ng-repeat="label in labels">
					{{label}}
					<a title="Delete label" class="opt-tooltip opt-icon icon-trash" ng-click="removeLabel(label)"></a>
				</li>
			</ul>
		</div>
	</div> <!-- /.Modal content -->

	</div>

</div>
<!-- /.Edit all labels -->


<!-- About ng-notes -->
<!-- About modal -->
<div class="modal fade-pop" id="about-modal">

	<div class="modal-dialog">

	<!-- Modal content -->
	<div class="modal-content">
		<!-- Modal header -->
		<div class="modal-header">
			<button type="button" class="close" data-dismiss="modal">&times;</button>
			<h3 class="modal-header-title"><span class="fa fa-paperclip"></span> ng-notes</h3>
		</div>

		<!-- Modal body -->
		<div class="modal-body">
			<p>A comprehensive note-taking app to quickly capture what is on your mind - ideas, pictures, lists and more. Built with MEAN stack (MongoDB, Express, AngularJS and Node.js). The UX is largely based on AngularJS - hence the name ng-notes. &#9786;</p>

			<p align="center" style="margin: 22px 0; font-weight: 500;">&copy; 2017 ng-notes &nbsp;&bull;&nbsp; Inspired by Google Keep</p>

			<p align="center" style="font-size: 24px;"><a href="https://github.com/anirudhkhanna/ng-notes" target="_blank" title="View on GitHub" class="opt-tooltip" style="color: #564420;"><span class="fa fa-github"></span></a></p>
		</div>
	</div> <!-- /.Modal content -->

	</div>

</div>
<!-- /.About ng-notes -->


<!-- Notes page JS -->
<script src="js/notes-script.js"></script>

<!-- WatNotif -->
<script src="assets/watnotif/js/watnotif-1.0.min.js" defer></script>

<!-- Load notes page CSS dynamically -->
<script>
	var cssFileHref = 'css/notes-style.css';
	loadCSSFile(cssFileHref);
</script>

<!-- Froala Editor Plugin styles -->
<script>
	/* Load Froala Editor Plugin CSS files dynamically */
	var cssFileHrefs = [
		/* Froala Editor Plugin styles */
		'https://cdnjs.cloudflare.com/ajax/libs/froala-editor/2.6.1/css/plugins/code_view.css',
		'https://cdnjs.cloudflare.com/ajax/libs/froala-editor/2.6.1/css/plugins/colors.css',
		'https://cdnjs.cloudflare.com/ajax/libs/froala-editor/2.6.1/css/plugins/emoticons.css',
		'https://cdnjs.cloudflare.com/ajax/libs/froala-editor/2.6.1/css/plugins/file.css',
		'https://cdnjs.cloudflare.com/ajax/libs/froala-editor/2.6.1/css/plugins/image_manager.css',
		'https://cdnjs.cloudflare.com/ajax/libs/froala-editor/2.6.1/css/plugins/image.css',
		'https://cdnjs.cloudflare.com/ajax/libs/froala-editor/2.6.1/css/plugins/line_breaker.css',
	];

	$(document).ready(function() {
		for(var i = 0; i < cssFileHrefs.length; i++)
			loadCSSFile(cssFileHrefs[i]);
	});
</script>

<!-- Froala Editor Plugins -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/froala-editor/2.6.1/js/plugins/align.min.js" defer></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/froala-editor/2.6.1/js/plugins/code_beautifier.min.js" defer></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/froala-editor/2.6.1/js/plugins/code_view.min.js" defer></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/froala-editor/2.6.1/js/plugins/colors.min.js" defer></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/froala-editor/2.6.1/js/plugins/emoticons.min.js" defer></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/froala-editor/2.6.1/js/plugins/entities.min.js" defer></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/froala-editor/2.6.1/js/plugins/file.min.js" defer></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/froala-editor/2.6.1/js/plugins/image.min.js" defer></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/froala-editor/2.6.1/js/plugins/image_manager.min.js" defer></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/froala-editor/2.6.1/js/plugins/inline_style.min.js" defer></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/froala-editor/2.6.1/js/plugins/line_breaker.min.js" defer></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/froala-editor/2.6.1/js/plugins/link.min.js" defer></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/froala-editor/2.6.1/js/plugins/lists.min.js" defer></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/froala-editor/2.6.1/js/plugins/paragraph_format.min.js" defer></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/froala-editor/2.6.1/js/plugins/paragraph_style.min.js" defer></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/froala-editor/2.6.1/js/plugins/save.min.js" defer></script>
