@font-face {
  font-family: 'fontello';
  src: url('../font/fontello.eot?22078901');
  src: url('../font/fontello.eot?22078901#iefix') format('embedded-opentype'),
       url('../font/fontello.woff2?22078901') format('woff2'),
       url('../font/fontello.woff?22078901') format('woff'),
       url('../font/fontello.ttf?22078901') format('truetype'),
       url('../font/fontello.svg?22078901#fontello') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'fontello';
    src: url('../font/fontello.svg?22078901#fontello') format('svg');
  }
}
*/
 
 [class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  speak: none;
 
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */
 
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
 
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
 
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;
 
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
 
  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
 
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}
 
.icon-check-1:before { content: '\e801'; } /* '' */
.icon-pencil:before { content: '\e802'; } /* '' */
.icon-palette:before { content: '\e805'; } /* '' */
.icon-archive:before { content: '\e806'; } /* '' */
.icon-tag:before { content: '\e807'; } /* '' */
.icon-tags:before { content: '\e808'; } /* '' */
.icon-cancel:before { content: '\e80a'; } /* '' */
.icon-cancel-2:before { content: '\e80b'; } /* '' */
.icon-cancel-1:before { content: '\e80c'; } /* '' */
.icon-mic:before { content: '\e80d'; } /* '' */
.icon-check:before { content: '\e80e'; } /* '' */
.icon-dots:before { content: '\e812'; } /* '' */
.icon-trash-1:before { content: '\e83d'; } /* '' */
.icon-list:before { content: '\f008'; } /* '' */
.icon-checklist:before { content: '\f009'; } /* '' */
.icon-list-1:before { content: '\f0ca'; } /* '' */
.icon-trash:before { content: '\f1f8'; } /* '' */
.icon-copy:before { content: '\f2d2'; } /* '' */